@using System.Security.Claims;

@{
    ViewBag.Title = "Meu Painel";

    var userAuth = (ClaimsIdentity)User.Identity;
    if (userAuth.IsAuthenticated)
    {
        <div class="row mb-3">
            <div class="col-lg">
                <h4 class="font-weight-bold">Olá, @userAuth.Claims.Where(c => c.Type == ClaimTypes.GivenName).FirstOrDefault().Value</h4>
                <p class="text-muted">Bem-vindo ao @ViewBag.Title. O que deseja fazer?</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3 mb-3 mb-sm-0">
                <a class="btn btn-primary p-5" href="@Url.Action("UsersList", "Master")">
                    <i class="fas fa-users fa-2x mb-2"></i>
                    <h4 class="font-weight-bold">Painel de Usuários</h4>
                </a>
            </div>
        </div>
    }
}

