@{
    Layout = "~/Views/Shared/_EventsLayout.cshtml";
}

<!-- header public -->
@if (Session["userID"] == null)
{
    <div class="container-fluid bg-main-gradient py-5 mb-3">
        <div class="container">
            <div class="row text-light">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/Content/img/undraw/undraw_celebration_0jvk.svg" />
                </div>
                <div class="col-lg-6 my-auto">
                    <h1 class="font-weight-bold">Conecte-se ao Events</h1>
                    <h4>Tenha as melhores experiências com eventos, reserve sua vaga e receba certificados online</h4>
                    <h6>
                        Na etimologia encontramos a palavra latina eventum que significa acontecimento. Na ciência ou na filosofia um acontecimento também pode ser chamado de fenômeno e deve, necessariamente, poder ser observável ou mensurável de alguma forma, se não puder ser observado não devemos afirmar com certeza que realmente aconteceu.

                        Na maioria das áreas de estudo ou de atuação humanas podem ocorrer eventos.
                        - Evento na computação: uma notificação indicando que uma ação foi tomada por um usuário ou pelo sistema, como por exemplo o pressionar de uma tecla;
                        - Evento na matemática: uma realização de uma probabilidade;
                        - Evento midiático: evento que atrai a atenção da mídia ou a atenção do público espectador.

                        No contexto de um sistema de gestão de eventos, evento é um acontecimento planejado, num espaço delimitado, aonde podem se reunir pessoas interessadas no que outras pessoas têm a dizer, apresentar ou mostrar. Nessa realidade os eventos podem ser classificados em várias categorias, tais como institucionais, promocionais, comunitários, públicos, privados, científicos, educacionais, técnicos etc.

                        O sistema Events nasceu da necessidade de gerir eventos escolares que podemos dizer que se enquadram nas categorias de eventos educacionais, técnicos ou científicos. Dentro dessas categorias principais podemos encontrar várias as subcategorias listadas a seguir:

                        Exposição: Divulgação de trabalhos acadêmicos e demais atividades realizadas pela instituição de ensino;

                        Feira: Exposição de trabalhos e atividades realizadas dentro da instituição de ensino, bem como do funcionamento dos cursos, visando ampliar o número de alunos interessados no ingresso;

                        Conferência: Exposição de determinado assunto por um conferencista especializado, tendo, na sequência, abertura de espaço a perguntas da plateia;

                        Palestra: Exposição de um assunto para uma plateia pequena, seguida de espaço para
                        perguntas. Pode-se organizar um ciclo de palestras;

                        Simpósio: Explanações de vários expositores sobre um tema científico, com a presença de
                        um coordenador. O objetivo não é o debate em si, e sim o intercâmbio de ideias;

                        Painel: Debate entre expositores sob a coordenação de um moderador. Não há formulação de perguntas pela plateia;

                        Convenção: Apresentação de vários assuntos por um grupo de pessoas, com a presença de um coordenador. Pode durar vários dias e normalmente é realizado por entidades empresariais e políticas;

                        Congresso: Evento de grande porte, realizado em vários dias. Engloba, inclusive, atividades
                        sociais e culturais para os participantes;

                        Seminário: Exposição feita por uma ou mais pessoas, com a presença de um coordenador. A
                        plateia participa em forma de grupo;

                        Fórum: Exposições feitas com a presença de um coordenador. Caracteriza-se pela discussão e
                        debate, podendo durar um ou mais dias. A plateia participa com questionamentos;

                        Debate: Discussão entre duas pessoas que defendem pontos de vista diferentes sobre um
                        Tema;

                        Workshop: Modalidade parecida com a oficina, mas caracterizada por uma parte expositiva
                        seguida da demonstração de um produto/serviço.

                        O sistema Events de gestão de eventos escolares poderá ser usado em qualquer um dos tipos de eventos listados anteriormente, o primeiro cliente desse sistema será a unidade Brasílio Flores de Azevedo que integra a rede de colégios técnicos da Fundação Instituto Técnico de Barueri (FIEB) e os eventos mais comumente realizados por essa escola são feiras, palestras, workshops, seminários e exposições.
                    </h6>
                    <a class="btn btn-primary rounded-pill btn-lg mt-3" href="/cadastro">
                        Começar agora<i class="fas fa-arrow-right ml-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<!-- section 01 public carousel -->
<div class="container-fluid bg-white py-5 mb-3">
    <div class="container">

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible show p-3" role="alert">
                @TempData["Success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <!-- section 01 header -->
        <div class="row mb-3">
            <div class="col-lg-6">
                <h2 class="font-weight-bold text-primary">
                    Eventos em destaque
                </h2>
            </div>
            <div class="col-lg-6 text-left text-sm-right">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-outline-primary" href="#mainCarousel" role="button" data-slide="prev">
                        <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-outline-primary" href="#mainCarousel" role="button" data-slide="next">
                        <span class="fas fa-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- section 01 content -->
        <div id="mainCarousel" class="carousel slide mb-3" data-ride="carousel">
            <div class="carousel-inner">

                <!-- section 01 - item 01 -->
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-7 mb-2 mb-sm-0">
                            <img class="img-fluid crop-img-size rounded" src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" alt="" />
                        </div>
                        <div class="col-lg-5">
                            <div class="text-muted mb-2">
                                <i class="far fa-calendar mr-2"></i>22/09/20
                                <i class="far fa-clock mx-2"></i>20:00
                            </div>
                            <h4 class="font-weight-bold">Lorem ipsum</h4>
                            <p class="text-muted text-truncate">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>

                            <div class="text-muted">
                                <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                            </div>
                            <a class="btn btn-primary rounded-pill btn-lg mt-3" href="/eventos/titulo-evento">
                                Participar<i class="fas fa-arrow-right ml-3"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- section 01 - item 02 -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-7 mb-2 mb-sm-0">
                            <img class="img-fluid crop-img-size rounded" src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-1.2.1&w=1000&q=80" alt="" />
                        </div>
                        <div class="col-lg-5">
                            <div class="text-muted mb-2">
                                <i class="far fa-calendar mr-2"></i>22/09/20
                                <i class="far fa-clock mx-2"></i>20:00
                            </div>
                            <h4 class="font-weight-bold">Lorem ipsum</h4>
                            <p class="text-muted text-truncate">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <div class="text-muted">
                                <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                            </div>

                            <a class="btn btn-primary rounded-pill btn-lg mt-3" href="#">
                                Participar<i class="fas fa-arrow-right ml-3"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- section 02 public cards -->
<div class="container-fluid bg-white py-5 mb-3">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg">
                <h2 class="font-weight-bold text-primary">
                    Eventos públicos
                </h2>
            </div>
        </div>

        <!-- section 02 -->
        <div class="row mb-3">

            <!-- section 02 item 01 -->
            <div class="col-lg-4 mb-2 mb-sm-0">
                <div class="card">
                    <img class="card-img-top img-fluid rounded-top crop-img-size" src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" alt="Reunião" />
                    <div class="card-body">
                        <div class="text-muted mb-3">
                            <i class="far fa-calendar mr-2"></i>22/09/20
                            <i class="far fa-clock mx-2"></i>20:00
                        </div>
                        <h5 class="card-title font-weight-bold">Título do evento</h5>
                        <p class="card-text text-muted text-truncate">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p class="card-text text-muted">
                            <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                        </p>
                        <a href="/eventos/titulo-evento" class="stretched-link btn btn-primary rounded-pill btn-block">Participar</a>
                    </div>
                </div>
            </div>

            <!-- section 02 item 02 -->
            <div class="col-lg-4 mb-2 mb-sm-0">
                <div class="card">
                    <img class="card-img-top img-fluid rounded-top crop-img-size" src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-1.2.1&w=1000&q=80" alt="Reunião" />
                    <div class="card-body">
                        <div class="text-muted mb-3">
                            <i class="far fa-calendar mr-2"></i>22/09/20
                            <i class="far fa-clock mx-2"></i>20:00
                        </div>
                        <h5 class="card-title font-weight-bold">Título do evento</h5>
                        <p class="card-text text-muted text-truncate">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p class="card-text text-muted">
                            <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                        </p>
                        <a href="#" class="stretched-link btn btn-primary rounded-pill btn-block">Participar</a>
                    </div>
                </div>
            </div>

            <!-- section 02 item 03 -->
            <div class="col-lg-4 mb-2 mb-sm-0">
                <div class="card">
                    <img class="card-img-top img-fluid rounded-top crop-img-size" src="https://i2.wp.com/www.mwcbarcelona.com/wp-content/uploads/2019/09/conference-programmes-featured-wide-2x.jpg?fit=1096%2C644&ssl=1" alt="Reunião" />
                    <div class="card-body">
                        <div class="text-muted mb-3">
                            <i class="far fa-calendar mr-2"></i>22/09/20
                            <i class="far fa-clock mx-2"></i>20:00
                        </div>
                        <h5 class="card-title font-weight-bold">Título do evento</h5>
                        <p class="card-text text-muted text-truncate">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p class="card-text text-muted">
                            <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                        </p>
                        <a href="#" class="stretched-link btn btn-primary rounded-pill btn-block">Participar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg text-center text-sm-right">
                <a href="/eventos">
                    Explorar eventos<i class="fas fa-arrow-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>
