@{
    Layout = "~/Views/Layout/_EventsLayout.cshtml";
}

<!-- header public -->
@if (Session["Id"] == null)
{
    <div class="container-fluid bg-main-gradient py-5 mb-3">
        <div class="container">
            <div class="row text-light">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/Content/img/undraw/undraw_celebration_0jvk.svg" />
                </div>
                <div class="col-lg-6 my-auto">
                    <h1 class="font-weight-bold">Conecte-se ao Events</h1>
                    <h4>Tenha as melhores experiências com eventos, reserve sua vaga e receba certificados online</h4>
                    <a class="btn btn-light btn-lg mt-3" href="/cadastro">
                        Começar agora<i class="fas fa-arrow-right ml-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<!-- section 01 public -->
<div class="container-fluid bg-white py-5 mb-3">
    <div class="container">

        <!-- section 01 header -->
        <div class="row mb-4">
            <div class="col-lg-6">
                <h2 class="font-weight-bold text-primary">
                    Eventos em destaque
                </h2>
            </div>
            <div class="col-lg-6 text-left text-sm-right">
                <div class="btn-group">
                    <a class="btn btn-outline-primary" href="#mainCarousel" role="button" data-slide="prev">
                        <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-outline-primary" href="#mainCarousel" role="button" data-slide="next">
                        <span class="fas fa-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- section 01 content -->
        <div id="mainCarousel" class="carousel slide mb-4" data-ride="carousel">
            <div class="carousel-inner">

                <!-- section 01 - item 01 -->
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-7 mb-2 mb-sm-0">
                            <img class="img-fluid crop-img-size rounded" src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" alt="" />
                        </div>
                        <div class="col-lg-5">
                            <div class="text-muted mb-2">
                                <i class="far fa-calendar mr-2"></i>22/09/20
                                <i class="far fa-clock mx-2"></i>20:00
                            </div>
                            <h4 class="font-weight-bold">Lorem ipsum</h4>
                            <p class="text-muted text-truncate">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>

                            <div class="text-muted">
                                <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                            </div>
                            <a class="btn btn-primary btn-lg mt-3" href="/eventos/nomedoevento">
                                Mais detalhes<i class="fas fa-arrow-right ml-3"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- section 01 - item 02 -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-7 mb-2 mb-sm-0">
                            <img class="img-fluid crop-img-size rounded" src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-1.2.1&w=1000&q=80" alt="" />
                        </div>
                        <div class="col-lg-5">
                            <div class="text-muted mb-2">
                                <i class="far fa-calendar mr-2"></i>22/09/20
                                <i class="far fa-clock mx-2"></i>20:00
                            </div>
                            <h4 class="font-weight-bold">Lorem ipsum</h4>
                            <p class="text-muted text-truncate">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <div class="text-muted">
                                <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                            </div>

                            <a class="btn btn-primary btn-lg mt-3" href="/eventos/nomedoevento">
                                Mais detalhes<i class="fas fa-arrow-right ml-3"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- section 02 public -->
<div class="container-fluid bg-white py-5 mb-3">
    <div class="container">

        <div class="row mb-2">
            <div class="col-lg">
                <h2 class="font-weight-bold text-primary">
                    Eventos públicos
                </h2>
            </div>
        </div>

        <!-- section 02 searchbar -->
        <form method="post">
            <div class="form-row mb-4">
                <div class="form-group col-lg">
                    <input class="form-control form-control-lg bg-search" type="search" placeholder="Procurar eventos">
                </div>
            </div>
        </form>

        <!-- section 02 content -->
        <div class="row mb-4">

            <!-- section 02 item 01 -->
            <div class="col-lg-4 mb-2 mb-sm-0">
                <div class="card">
                    <img class="card-img-top img-fluid rounded-top crop-img-size" src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" alt="Reunião" />
                    <div class="card-body">
                        <div class="text-muted mb-3">
                            <i class="far fa-calendar mr-2"></i>22/09/20
                            <i class="far fa-clock mx-2"></i>20:00
                        </div>
                        <h5 class="card-title font-weight-bold">Título do evento</h5>
                        <p class="card-text text-muted text-truncate">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <hr />
                        <div class="text-muted">
                            <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                        </div>
                        <a href="/eventos/nomedoevento" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <!-- section 02 item 02 -->
            <div class="col-lg-4 mb-2 mb-sm-0">
                <div class="card">
                    <img class="card-img-top img-fluid rounded-top crop-img-size" src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-1.2.1&w=1000&q=80" alt="Reunião" />
                    <div class="card-body">
                        <div class="text-muted mb-3">
                            <i class="far fa-calendar mr-2"></i>22/09/20
                            <i class="far fa-clock mx-2"></i>20:00
                        </div>
                        <h5 class="card-title font-weight-bold">Título do evento</h5>
                        <p class="card-text text-muted text-truncate">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <hr />
                        <div class="text-muted">
                            <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                        </div>
                        <a href="/eventos/nomedoevento" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <!-- section 02 item 03 -->
            <div class="col-lg-4 mb-2 mb-sm-0">
                <div class="card">
                    <img class="card-img-top img-fluid rounded-top crop-img-size" src="https://i2.wp.com/www.mwcbarcelona.com/wp-content/uploads/2019/09/conference-programmes-featured-wide-2x.jpg?fit=1096%2C644&ssl=1" alt="Reunião" />
                    <div class="card-body">
                        <div class="text-muted mb-3">
                            <i class="far fa-calendar mr-2"></i>22/09/20
                            <i class="far fa-clock mx-2"></i>20:00
                        </div>
                        <h5 class="card-title font-weight-bold">Título do evento</h5>
                        <p class="card-text text-muted text-truncate">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <hr />
                        <div class="text-muted">
                            <i class="fas fa-map-marker-alt mr-2"></i>Rua João Silva, 23
                        </div>
                        <a href="/eventos/nomedoevento" class="stretched-link"></a>
                    </div>
                </div>
            </div>

        </div>

        <!-- section 02 redirect btn -->
        <div class="row">
            <div class="col-lg text-center text-sm-right">
                <a href="/eventos">
                    Explorar todos <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
