@using System.Security.Claims;
@{
    ViewBag.Title = "Meu Painel";
    var userAuth = (ClaimsIdentity)User.Identity;
}

@if (userAuth.IsAuthenticated)
{
    <div class="row mb-3">
        <div class="col-lg">
            <h4 class="font-weight-bold">Olá, @userAuth.Claims.Where(c => c.Type == ClaimTypes.GivenName).FirstOrDefault().Value</h4>
            <p class="text-muted">Bem-vindo ao @ViewBag.Title. O que deseja fazer?</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-3 mb-3 mb-sm-0">
            <a class="btn btn-primary btn-block p-5" href="@Url.Action("Validate", "Assistant")">
                <i class="fas fa-qrcode fa-2x mb-2"></i>
                <h4 class="font-weight-bold">Validação Manual</h4>
            </a>
        </div>
        <div class="col-lg-3 mb-3 mb-sm-0">
            <a class="btn btn-primary btn-block p-5" href="@Url.Action("SubsList", "Assistant")">
                <i class="fas fa-ticket-alt fa-2x mb-2"></i>
                <h4 class="font-weight-bold">Lista de Inscrições</h4>
            </a>
        </div>
    </div>
}
