@font-face {
    font-family: 'Cabin';
    src: url('../../Fonts/cabin-rg.ttf');
}

@font-face {
    font-family: 'Nature Beauty';
    src: url('../../Fonts/nature-beauty-rg.ttf');
}

:root {
    --main-color: #6930ee;
    --main-dark: #252525;
    --main-gray: #353535;
}

* {
    font-family: 'Cabin', sans-serif;
}

body {
    height: 100%;
}

.main-font {
    font-family: 'Nature Beauty';
    text-transform: lowercase;
}

.bg-main-gradient {
    background: linear-gradient(to right, #a587e4, var(--main-color));
}

:focus {
    box-shadow: none !important;
}

.form-control:focus {
    border-bottom: 3px solid var(--main-color) !important;
}

.custom-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    right: 16px;
    background: url(../img/icons/close.svg) no-repeat;
}

.crop-img-size {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 320px;
}

@media screen and (max-width: 768px) and (max-width: 1200px) {
    .container, .navbar .dropdown-menu {
        width: 100%;
    }

    .sidebar {
        width: 220px;
        height: 100vh;
        display: none;
        box-shadow: 2px 2px 4px rgba(1,1,1,0.8);
    }
}

/* custom bootstrap patterns */
a:hover {
    text-decoration: none;
}

.card {
    transition: all .2s ease;
}
/* -------------------------- */

.night-mode .bg-white {
    background: #353535 !important;
    color: #ffffff;
}

    .night-mode .bg-white a, .night-mode .bg-light a {
        color: #d9d9d9;
    }

.night-mode .bg-light {
    background: #454545 !important;
    color: #d9d9d9;
}

.night-mode .text-primary {
    color: #ffffff !important;
}
