@model Events.Models.User

@{
    ViewBag.Title = "Confirmar exclusão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["IsAdmin"] == null)
{
    Response.Redirect("/entrar");
}

<div class="container-fluid bg-white py-5 mb-3">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <h4>Tem certeza que deseja apagar o cadastro?</h4>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <a href="/admin" class="btn btn-secondary">Voltar</a>
                        <input type="submit" value="Apagar" class="btn btn-danger" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
