@model Events.Models.EVENTO

<div id="authInModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Confirme os dados</strong>
                <button type="button" data-dismiss="modal" class="close">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-row">

                        <div class="form-group col-sm-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                                <select class="form-control">
                                    <option value="">Selecione uma data</option>
                                    <option value="@Html.DisplayFor(x => x.DATA)">@Html.DisplayFor(x => x.DATA)</option>
                                </select> 
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                </div>
                                <select class="form-control">
                                    <option selected>Selecione um horário</option>
                                    <option value="@Html.DisplayFor(x => x.HORARIO)">@Html.DisplayFor(x => x.HORARIO)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                </div>
                                <input readonly type="text" class="form-control" value="R. Interna Grupo Bandeirante, 138 - Jardim Belval, Barueri - SP, 06420-150">
                            </div>
                        </div>
                    </div>
                    <a href="/eventos/inscricao" class="btn btn-primary btn-block"><i class="fas fa-check-circle mr-2"></i>Confirmar</a>
                </form>
            </div>
        </div>
    </div>
</div>
