<div class="modal fade" id="qrcodeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>QR Code</strong>
                <button type="button" data-dismiss="modal" class="close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-6 mx-auto">
                            Código de inscrição: <span class="text-muted">123456</span>
                            <img src='https://chart.googleapis.com/chart?cht=qr&chl=123456789&chs=180x180&choe=UTF-8&chld=L|2' alt='qr code'>
                            <a href='https://br.qr-code-generator.com/' border='0' style='cursor:default' rel='nofollow'></a><br />
                            <small class="text-muted">Apresente o código de inscrição ou QR Code para validar sua presença quando estiver no evento.</small>

                        </div>
                    </div>
                </div>

            </div>           
        </div>
    </div>
</div>