@{
    ViewBag.Title = "Feira de tecnologia";
    Layout = "~/Views/Shared/_EventsLayout.cshtml";
}

<img class="img-fluid crop-img-size" src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" alt="@ViewBag.Title" />
<nav class="navbar navbar-expand-lg bg-white sticky-top shadow-sm">
    <div class="container">
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
                <a href="/eventos" class="nav-link" title="Voltar">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#favorito" id="favToggler" class="nav-link" title="Marcar como favorito">
                    <i class="fas fa-heart fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#shareModal" class="nav-link" data-toggle="modal" title="Compartilhar">
                    <i class="fas fa-share-alt fa-lg"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#authInModal" data-toggle="modal" class="btn btn-primary">Participar</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid bg-white py-5 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1 class="font-weight-bold mb-3">
                    @ViewBag.Title
                </h1>

                <!-- informações do evento -->
                <section class="mb-5">
                    <span class="fas fa-calendar-alt text-primary mr-2"></span>
                    <span class="text-muted">20/09/2020</span>

                    <span class="fas fa-clock text-primary mx-2"></span>
                    <span class="text-muted">20:00</span>

                    <span class="fas fa-map-marker-alt text-primary mx-2"></span>
                    <span class="text-muted">Rua João Silva, 16</span>
                </section>

                <!-- descricao do evento -->
                <h4 class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </h4>

                <hr />

                <!-- categoria -->
                <span class="fas fa-tags text-primary mr-3" title="Categoria"></span>
                <span class="text-muted">
                    Informática &middot; Edificações
                </span>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Copie e divulgue o link para seus amigos!
                <button type="button" data-dismiss="modal" class="btn btn-light close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input id="shareLink" class="form-control" type="text" value="@Request.CurrentExecutionFilePath" />
                    <div class="input-group-append">
                        <button id="shareLinkBtn" type="button" class="btn btn-primary">
                            <i class="fas fa-copy"></i>
                        </button>
                    </div>
                </div>
                <div id="shareLinkAlert" class="alert alert-success">Link copiado para área de transferência.</div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_AuthInEvent")