@{
    ViewBag.Title = "Feira de tecnologia";
    Layout = "~/Views/Layout/_EventsLayout.cshtml";
}


<img class="img-fluid crop-img-size" src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" alt="@ViewBag.Title" />
<nav class="navbar navbar-expand-lg bg-primary sticky-top">
    <div class="container">
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
                <a href="/eventos" class="btn btn-primary p-3" title="Voltar">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#favorito" id="favToggler" class="btn btn-primary p-3" title="Marcar como favorito">
                    <i class="fas fa-heart fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#shareModal" class="btn btn-primary p-3" data-toggle="modal" title="Compartilhar">
                    <i class="fas fa-share fa-lg"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#" class="btn btn-primary p-3">
                    Participar<i class="fas fa-arrow-right ml-2"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid bg-white py-5 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h1 class="font-weight-bold mb-2">
                    @ViewBag.Title
                </h1>

                <span class="fas fa-calendar-alt text-primary mr-2"></span>
                <span class="text-muted">20/09/2020</span>

                <span class="fas fa-clock text-primary mx-2"></span>
                <span class="text-muted">20:00</span>

                <span class="fas fa-map-marker-alt text-primary mx-2"></span>
                <span class="text-muted">Rua João Silva, 16</span>

                <div class="mb-4"></div>

                <p class="text-muted">DESCRIÇÃO DO EVENTO</p>
                <hr />
                <h5 class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </h5>
                <hr />

                <!-- categoria -->
                <span class="fas fa-tags text-primary mr-3" title="Categoria"></span>
                <span class="text-muted">
                    Informática &middot; Edificações
                </span>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <p>Clique e divulgue o link para seus amigos!</p>
                </div>
                <div class="form-group">
                    <input id="shareLink" class="form-control" type="text" value="https://events.com.br/eventos/nomedoevento" />
                </div>
                <div class="form-group">
                    <div id="shareLinkAlert" class="alert alert-success">Link copiado para área de transferência.</div>
                </div>
                <div class="form-group">
                    <input id="shareLinkBtn" type="button" class="btn btn-primary btn-block" value="Copiar" />
                </div>
            </div>
        </div>
    </div>
</div>
