@{
    ViewBag.Title = "Eventos";
}

<form method="get">
    <div class="form-row mb-3">
        <div class="form-group col-lg-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <a class="btn btn-primary custom-search" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                <input class="form-control" type="search" placeholder="Procurar eventos">
            </div>
        </div>
        <div class="form-group col-lg-3 mb-2 mb-sm-0">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="form-group col-lg-2 mb-2 mb-sm-0">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-sort-amount-up-alt"></i>
                    </div>
                </div>
                <select class="form-control">
                    <option selected>Status</option>
                    <option value="1">Disponível</option>
                    <option value="2">Em andamento</option>
                    <option value="2">Encerrado</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-2 mb-2 mb-sm-0">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-sort-alpha-up"></i>
                    </div>
                </div>
                <select class="form-control">
                    <option selected>Alfabético</option>
                    <option value="1">A-Z</option>
                    <option value="2">Z-A</option>
                </select>
            </div>
        </div>
    </div>
</form>

<div class="row mb-3">
    <div class="col-lg-4 mb-2 mb-sm-0">
        <div class="card">
            <img class="card-img-top img-fluid rounded-lg crop-img-size" 
                 src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80" 
                 alt="Reunião" />
            <div class="card-body text-center">
                <div class="text-muted mb-3">
                    <i class="fas fa-calendar mr-2"></i>22/09/20
                    <i class="fas fa-clock mx-2"></i>20:00
                </div>
                <h4 class="card-title font-weight-bold">Título do evento</h4>
                <p class="card-text text-muted text-truncate">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="/eventos/titulo-evento" class="stretched-link btn btn-primary btn-block">Participar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-2 mb-sm-0">
        <div class="card">
            <img class="card-img-top img-fluid rounded-lg crop-img-size" 
                 src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-1.2.1&w=1000&q=80" 
                 alt="Reunião" />
            <div class="card-body text-center">
                <div class="text-muted mb-3">
                    <i class="fas fa-calendar mr-2"></i>22/09/20
                    <i class="fas fa-clock mx-2"></i>20:00
                </div>
                <h4 class="card-title font-weight-bold">Título do evento</h4>
                <p class="card-text text-muted text-truncate">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="/eventos/titulo-evento" class="stretched-link btn btn-primary btn-block">Participar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-2 mb-sm-0">
        <div class="card">
            <img class="card-img-top img-fluid rounded-lg crop-img-size" 
                 src="https://i2.wp.com/www.mwcbarcelona.com/wp-content/uploads/2019/09/conference-programmes-featured-wide-2x.jpg?fit=1096%2C644&ssl=1" 
                 alt="Reunião" />
            <div class="card-body text-center">
                <div class="text-muted mb-3">
                    <i class="fas fa-calendar mr-2"></i>22/09/20
                    <i class="fas fa-clock mx-2"></i>20:00
                </div>
                <h4 class="card-title font-weight-bold">Título do evento</h4>
                <p class="card-text text-muted text-truncate">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="/eventos/titulo-evento" class="stretched-link btn btn-primary btn-block">Participar</a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-lg text-right">
        <div class="btn-group">
            <a class="btn btn-outline-primary active" href="#page1">1</a>
            <a class="btn btn-outline-primary" href="#page2">2</a>
            <a class="btn btn-outline-primary" href="#page3">3</a>
        </div>
    </div>
</div>
